.Banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 0 5%;
    color: white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;

    height: 13vw;
    border-radius: 1rem;
    font-size: 2.5vw;
    h2{
        text-align: center;
    }
}

//MOBILE
@media screen and (max-width: 425px) {
    .Banner{
        height: 7rem;
        border-radius: 0.5rem;
        h2{
            text-align: left;
            padding: 0 1rem;
        }
    }
    .about{
        .Banner{
            height: 13rem;
        }
    }
}